<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      .message {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
      }
  
      a {
        text-decoration: none;
      }
    </style>
</head>
<body>
    <div class="message">      
      <h1>Registraion Complete</h1>
    </div>
    <div class="message">
      <a href="/">back</a>
    </div>
</body>
</html>